/* Global Variables */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: 'Cairo', sans-serif;
}

:root {
  --section-background : #ececec;
  --main-color: #2196f3;
  --main-padding-top: ;
  --main-padding-bottom : ;
}
/*  Components */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container > h3 {
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  z-index: 1;
}

.container > h3:hover {
  color: white;
  transition-delay: 0.6s;
  transition-duration: 0.2s;
}

.container h3 + div {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.container > h3::before,
.container > h3::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition-duration: 0.5s;
  transition-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
  z-index: -1;
}

.container > h3::before {
  left: calc(0% + -2rem);
}

.container > h3::after {
  right: calc(0% + -2rem);
}

.container > h3:hover::before,
.container > h3:hover::after {
  width: 51%;
  height: 100%;
  border-radius: 0;
}

.container > h3:hover::before {
  left: calc(0% + 0rem);
}

.container > h3:hover::after {
  right: calc(0% + 0rem);
}
/* end components  */
/* start screens  */
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end screens  */
/* start header */
header {
  text-transform: capitalize;
}

header .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

header h2 {
  flex-basis: 100%;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0rem;
  color: var(--main-color);
  text-align: center;
  font-weight: 700;
}

header nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul.main-links > li {
  padding: 9px 0.6rem;
  border-top: 0.2rem solid transparent;
  transition-duration: 0.2s;
}

header nav ul.main-links > li:hover {
  background-color: #fafafa;
}

header nav ul.main-links li a {
  position: relative;
}
header nav ul.main-links > li:hover a {
  color: var(--main-color);
}

header nav ul.main-links > li > a {
  text-decoration: none;
  color: black;
}

header nav ul.main-links > li > a:before {
  content: "";
  position: absolute;
  top: -1.3rem;
  left: -0.6rem;
  width: 0;
  height: 0.2rem;
  background-color: var(--main-color);
  transition-duration: 0.4s;
}

header nav ul.main-links > li:hover > a:before {
  width: calc(100% + 1.1rem);
}

ul.other-links {
  position: absolute;
  left: 0;
  display: grid;
  width: 100%;
  border-bottom: 4px solid var(--main-color);
  background-color: white;
  z-index: 1;
  visibility: hidden;
}

ul.other-links li {
  position: relative;
  width: 100%;
  padding: 1rem 0 1rem 1.5rem;
  border-top: 1px solid #ececec;
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 800;
}

ul.other-links li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ececec;
  opacity: 0.3;
  transition-property: width;
  transition-duration: 0.4s;
}

ul.other-links li:hover:before {
  width: 100%;
}

ul.other-links li i {
  padding-right: 0.5rem;
  font-size: 1.1rem;
}

header nav ul.other-links > li > a {
  text-decoration: none;
  color: var(--main-color);
}

header nav ul.main-links > li:last-child:hover ul.other-links {
  visibility: visible;
  color: var(--main-color);
  top: 2.25rem;
  animation: bar;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
/* end header */

@keyframes bar {
  0% {
    top: 9.25rem;
  }
  100% {
    top: 5.25rem;
  }
}

@media (max-width: 768px) {
  header nav ul.other-links .menu-image {
    display: none;
  }
}

@media (min-width: 768px) {
  header nav ul.other-links {
    grid-template-columns: repeat(2, 1fr);
  }
  header nav ul.other-links .menu-image {
    display: none;
  }
}

@media (min-width: 992px) {
  header .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
  header h2 {
    text-align: left;
    flex-basis: 0;
    padding-top: 0;
  }
  header nav ul.main-links > li {
    padding: calc(9px + 1rem) 0.6rem;
  }
  header nav ul.other-links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  header nav ul.other-links .menu-image {
    grid-row: span 6;
    padding: 2rem;
    display: block;
  }
  header nav ul.other-links .menu-image img {
    position: relative;
    top: 50%;
    max-width: 100%;
    transform: translateY(-50%);
  }
  @keyframes bar {
    0% {
      top: 9.25rem;
    }
    100% {
      top: 4.25rem;
    }
  }
}

/* start landing */
.landing {
  position: relative;
  height: calc(100vh - 100px);
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.landing .container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.landing .landing-image {
  display: none;
}

.landing h2, .landing p {
  text-transform: capitalize;
  margin: 0;
}

.landing h2 {
  font-size: 1.65rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.landing p {
  color: #777;
  font-size: 1.1rem;
  line-height: 2;
}

.landing .landing-image {
  position: relative;
  width: 28rem;
  animation-name: updown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.landing .landing-image img {
  max-width: 100%;
}

.landing a {
  position: absolute;
  left: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@media (max-width: 768px) {
  .landing .container {
    top: 35%;
  }
}

@media (min-width: 768px) {
  .landing .container {
    top: 35%;
  }

  .landing h2 {
    font-size: 2rem;
  }
  .landing .text p {
    margin-left: 0 ;
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .landing .container {
    top: 16%;
  }
}


@keyframes updown {
  0%,50%,100% {
    top: 0;
  }
  25% {
    top: -2rem;
    }

  75% {
    top: 2rem;
  }
}

@media (min-width: 992px) {
  .landing .text {
    text-align: left;
  }
  .landing .text h2 {
    font-size: 2.3rem;
  }
  .landing .text p {
    margin-left: 0 ;
    font-size: 1.3rem;
  }
  .landing .landing-image {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .landing .landing-image {
    display: block;
    width: 100%;
  }
}

@keyframes arrow {
  0%,30%,70%,100% {
    top: 96%;
  }

  15%,45% {
    top: 93%;
  }
}
/* end landing */
/* start article  */
.articles .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

.articles .card {
  position: relative;
  top: 0;
  border-radius: 2%;
  box-shadow: 0px 0px 17px 3px #ddd;
  transition-duration: 0.5s;
  overflow: hidden;
}

.articles .card:hover {
  top: -1rem;
}

.cards .card-image img {
  max-width: 100%;
}

.cards figcaption {
  padding: 0 1rem;
}

.cards figcaption h4 {
  margin: 0.8rem 0;
  font-weight: 600;
}

.cards figcaption p:first-of-type {
  margin-bottom: 1.3rem;
  color: #777;
  font-size: 0.9rem;
}

.cards figcaption p:last-of-type {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-top: 1px solid #ddd;
  color: var(--main-color);
}

.cards p:last-of-type figcaption span {
  font-weight: 600;
  letter-spacing: -1px;
}

.cards figcaption p:last-of-type a {
  position: absolute;
  transform: translateY(13%);
  right: 21px;
  color: var(--main-color);
}

@media (max-width: 600px) {
  .articles .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .articles .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .articles .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .articles .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* end article  */
/* start gallery  */
.gallery {
  background-color: #ececec;
}
  /* start the zig-zag effect  */
.gallery{
  position: relative;
}

.gallery .container::before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  left: -8vw;
  width: 108%;
  height: 10vh;
  background: linear-gradient(45deg, transparent 33.33%, #ececec 33.33% 66.66%, transparent 66.66%), linear-gradient( -45deg, transparent 33.33%, #ececec 33.33% 66.66%, transparent 66.66%);
  background-repeat: repeat;
  background-size: 2rem;
  overflow: hidden;
}
  /* end the zig-zag effect  */
.gallery .images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.gallery .images div {
  position: relative;
  margin: 1rem;
  border: 1rem solid white;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.gallery .images div img {
  transition-duration: 0.5s;
  max-width: 100%;
}

.gallery .images div:hover img {
  transform: scale(1.2) rotateZ(10deg);
}

.gallery .images div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: white;
  opacity: 0;
  transition-duration: 0.3s;
  z-index: 1;
}

.gallery .images div:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

@media (min-width: 650px) {
  .gallery .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .gallery .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
.gallery .images {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end gallery  */
/* start features  */
.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.features .feat {
  margin: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  padding-bottom: 2rem;
}

.features .feat-img {
  position: relative;
}

.features .feat-img::before {
  content: "";
  width: 100%;
  height: 99%;
  display: block;
  position: absolute;
  opacity: 0.4;
}

.features .feat-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0% 100%, 100% 100%, 100% 70%);
  transition-duration: 0.3s;
}

.features .feat:hover .feat-img::after {
  clip-path: polygon(0% 100%, 100% 100%, 0% 70%);
}


.features .feat:first-child .feat-img::before {
  background-color: #f44036;
}

.features .feat:nth-child(2) .feat-img::before {
  background-color: #009688;
}

.features .feat:last-child .feat-img::before {
  background-color: var(--main-color);
}

.features img {
  max-width: 100%;
}

.features .feat h4 {
  position: relative;
  width: fit-content;
  margin: 3rem auto;
  font-size: 2rem;
  font-weight: bold;
}

.features .feat h4::before {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 80%;
  height: 5px;
}

.features .feat:first-child h4::before {
  background-color: #f44036;
}

.features .feat:nth-child(2) h4::before {
  background-color: #009688;
}

.features .feat:last-child h4::before {
  background-color: var(--main-color);
}

.features .feat p {
  line-height: 2;
  font-size: 1.5rem;
  margin: 2rem 0.8rem;
}

.feat div:last-child {
  width: fit-content;
  margin: auto;
  position: relative;
}

.features .feat:first-child div:last-child:before {
  background-color: #f44036;
}

.features .feat:nth-child(2) div:last-child:before {
  background-color: #009688;
}

.features .feat:last-child div:last-child:before {
  background-color: var(--main-color);
}

.features .feat div:last-child:before {
  content: "";
  position: absolute;
  background-color: #f44036;
  width: 0%;
  height: 176%;
  color: white;
  top: -0.6rem;
  z-index: -1;
  transition-duration: 0.4s;
}

.feat:hover div:last-child:before {
  width: 100%;
}

.features .feat a {
  font-size: 1.3rem;
  text-decoration: none;
  border: 3px solid;
  padding: 0rem 1.5rem;
  font-weight: bold;
  border-radius: 5%;
}

.features .feat:first-child a {
  border-color: #f44036;
  color: #f44036;
}

.features .feat:nth-child(2) a {
  border-color: #009688;
  color: #009688;
}

.features .feat:last-child a {
  border-color: var(--main-color);
  color: var(--main-color);
}

.features .feat:hover a {
  color: white;
}

@media (max-width: 650px) {
  .feature .features  {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 650px) {
  .feature .features  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .feature .features  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .feature .features  {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end features  */
/* start testimonials  */
.testimonials {
  background-color: #ececec;
}

.testimonials .test-cards {
  display: grid;
}
.testimonials .test-cards .test-card {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4%;
  background-color: white;
  box-shadow: 0px 0px 2px 3px #ddd;
}

.testimonials .test-cards .test-card .avatar {
  position: absolute;
  top: -50%;
  right: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: translateY(50%);
  box-shadow: 0 0 0 10px #ececec;
}

.testimonials .test-cards .test-card .avatar img {
  max-width: 100%;
  border-radius: 50%;
}

.testimonials .test-cards .test-card h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.testimonials .test-cards .test-card span {
  margin-bottom: 0.5rem;
  color: #7a7a7a;
}

.testimonials .test-cards .test-card .stars {
  margin-top: 0.5rem;
}

.testimonials .test-cards .test-card .stars > i:not(:last-of-type){
  color: gold;
}

/* 4th testimonial card 5 stars */
.testimonials .test-cards .test-card:nth-of-type(4) .stars > i{
  color: gold;
}

/* 5th testimonial card 3 stars */
.testimonials .test-cards .test-card:nth-of-type(5) .stars > i:nth-of-type(4) {
  color: black;
}

/* 6th testimonial card 3 stars */
.testimonials .test-cards .test-card:nth-of-type(6) .stars > i:nth-of-type(4) {
  color: black;
}

.testimonials .test-cards .test-card .stars p {
  margin: 0.5rem 0;
  color: #7a7a7a;
}

@media (min-width: 700px) {
  .testimonials .test-cards  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .testimonials .test-cards  {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end testimonials  */
/* start team members  */
.team-members .team {
  display: grid;
}

.team-members .member {
  position: relative;
  right: -1rem;
  direction: rtl;
  width: 80%;
  margin: 2rem auto;
  padding: 0 1rem 0.5rem;
  border-radius: 4%;
  background-color: #ececec;
}

.member::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0%;
  height: 100%;
  margin: 0rem -1rem;
  padding: 0 1rem 0.5rem;
  border-radius: 4%;
  opacity: 0.9;
  transition-duration: 0.3s;
}

.member:hover::before {
  width: 100%;
  background-color: #ddd;
}

.member .member-image {
  position: relative;
  left: -3rem;
  top: 2rem;
  margin-bottom: 0rem;
}

.member .member-image img {
  max-width: 100%;
  border-radius: 4%;
  filter: none;
  transition-property: filter;
  transition-duration: 0.3s;
}

.member:hover .member-image img {
  filter: grayscale(1);
}

.member .team-contact {
  position: absolute;
  top: 50%;
  right: 2%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  text-align: center;
}

.member .team-contact i {
  margin: 1rem;
  color: #777;
}

.member .team-caption {
  position: relative;
  direction: ltr;
}

.member:hover .team-caption h4 {
  color: #777;
  transition-duration: 0.3s;
}

.team-caption h4 {
  position: relative;
  top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  font-size: 1.4rem;
  color: var(--main-color);
}
@media (min-width: 680px) {
  .team-members .team {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .team-members .team {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .team-members .team {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end team members  */
/* start services  */
  /* start the zig-zag effect */
.services {
  position: relative;
  background-color: #ececec;
  counter-reset: card-number;
}

.services .container::before {
  content: "";
  display: block;
  position: absolute;
  top: -26px;
  left: -7rem;
  width: 109%;
  height: 10vh;
  background: linear-gradient(45deg, transparent 33.33%, #ececec 33.33% 66.66%, transparent 66.66%), linear-gradient( -45deg, transparent 33.33%, #ececec 33.33% 66.66%, transparent 66.66%);
  background-repeat: repeat;
  background-size: 2rem;
}
/* start the zig-zag effect */
.services .services-cards {
  display: grid;
  gap: 2rem;
  margin: 1rem;
  background-color: #ececec;
}

.services .services-cards .serv-card {
  position: relative;
  top: 0;
  background-color: white;
  box-shadow: 0 0 6px 0px #777777;
  transition-duration: 0.5s;
}

.serv-card:hover {
  top: -0.5rem;
}

.serv-card::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: var( --main-color);
  transition-duration: 0.5s;
}

.serv-card:hover::before {
  width: 100%;
}

.serv-card .serv-card-image {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.serv-card .serv-card-image i {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #d5d5d5;
}

.serv-card .serv-card-image h4 {
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-color);
}

.serv-card .serv-card-info {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background: linear-gradient(120deg, var(--main-color) 25%, #d5d5d5 25% 40%, #f9f9f9 40%);
  counter-increment: card-number;
}

.serv-card .serv-card-info::before {
  content: '0' counter(card-number);
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.serv-card .serv-card-info a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--main-color);
}

@media (min-width: 700px) {
  .services .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .services .services-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end services  */
/* start coding skills  */
.skills .coding-skills {
  display: flex;
  margin: 1rem;
}

.coding-skills .coding-skill .skill h4 {
  font-size: 1.2rem;
}

.coding-skills .coding-skill .skill p {
  position: relative;
  height: 2rem;
  background-color: #ececec;
}

.coding-skills .coding-skill .skill p::before {
  content: "";
  display: inline-block;
  height: 100%;
  background-color: var(--main-color);
}



.skill p::after {
  position: absolute;
  right: 0;
  top: -2.7rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 22%;
  color: var(--main-color);
  font-weight: bold;
  font-size: 0.8rem;
}

.skill:nth-child(1) p::before,
.skill:nth-child(4) p::before{
  width: 80%;
}
.skill:nth-child(1) p::after,
.skill:nth-child(4) p::after {
  content: "80%";
}

.skill:nth-child(2) p::before{
  width: 85%;
}
.skill:nth-child(2) p::after {
  content: "85%";
}

.skill:nth-child(3) p::before{
  width: 70%;
}
.skill:nth-child(3) p::after {
  content: "70%";
}

@media (max-width: 992px) {
  .skills .coding-skills {
    justify-content: center;
    align-items: center;
    }
  .skills .coding-skill {
    flex-basis: 100%;
  }
  .skills .skills-image {
    width: 100%;
    display: none;
  }
  .skills .skills-image img {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .skills .coding-skills {
    justify-content: center;
    align-items: center;
    }
  .skills .coding-skill {
    flex-basis: 100%;
  }
  .skills .skills-image {
    display: block;
    width: 100%;
  }
  .skills .skills-image img {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .skills .coding-skills {
    justify-content: center;
    align-items: center;
    }
  .skills .coding-skill {
    flex-basis: 100%;
  }
  .skills .skills-image {
    display: block;
    width: 100%;
  }
  .skills .skills-image img {
    max-width: 100%;
  }
}
/* end coding skills  */
/* start how it works */
.how-works {
  background-color: #ececec;
}

.how-works .work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.how-works .work-cards .how-works-image {
  margin: 1rem;
}

.how-works .work-cards .how-works-image img {
  max-width: 100%;
}

.how-works .work-cards .work .work-card {
  position: relative;
  margin: 2rem 1rem;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 2%;
  background-color: #f6f5f5;
  z-index: 0;
}

.work-card .work-card-image {
  width: 20%;
  margin: auto;
}

.work-card .work-card-image img {
  max-width: 100%;
}

.work-card .work-card-info {
  text-align: center;
}

.work-card .work-card-info::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  transition-duration: 0.3s;
  z-index: -1;
}

.work-card-info:hover::before {
  background-color: #ddd;
}

.work-card-info h4 {
  margin: 1rem;
  font-size: 1.4rem;
}

.work-card-info p {
  margin: 0;
  color: black;
  font-size: 1.2rem;
  line-height: 1.7;
}

@media (min-width: 992px){
  .how-works .work-cards {
    flex-wrap: nowrap;
    align-items: center;
  }
  .work-card {
    display: flex;
  }
  .work-cards .how-works-image {
    width: 100%;
  }
  .work-card .work-card-image {
    width: 35%;
  }
  .work-card .work-card-info {
    text-align: left;
  }
  .work-card-info p {
    margin-left: 1rem;
  }
}

@media (min-width: 1200px){
  .how-works .work-cards {
    flex-wrap: nowrap;
    align-items: center;
  }
  .work-card {
    display: flex;
  }
  .work-cards .how-works-image {
    width: 100%;
  }
  .work-card .work-card-image {
    width: 15%;
  }
  .work-card .work-card-info {
    text-align: left;
  }
  .work-card-info p {
    margin-left: 1rem;
  }
}
/* end how it works */
/* start pricing plans  */
.pricing-plans {
  background-color: #ececec;
}

.pricing-plans .plans {
  display: grid;
}
.plans .plan {
  margin: 1rem;
  padding: 2rem 0;
  background-color: white;
}

.plans .plan .title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.plans .plan:nth-child(2) {
  position: relative;
}

.plans .plan:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 1.1rem;
  width: 2.5rem;
  height: 15%;
  background-color: var(--main-color);
}

.plans .plan:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 7rem;
  right: 1.1rem;
  border: 20px solid;
  border-color: var(--main-color) var(--main-color) transparent var(--main-color);
}

.pricing-plans .plan:nth-child(2) p:first-of-type {
  position: absolute;
  top: 2.5rem;
  right: -0.6rem;
  transform: rotateZ(90deg);
  font-weight: 800;
  color: white;
}

.plan-image {
  width: 20%;
  margin: auto;
}

.plan-image img {
  max-width: 100%;
}

.plan span {
  display: block;
  text-align: center;
}

.plan-info ul {
  margin: 2rem 0px;
  padding: 0;
  list-style: none;
}

span.price {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: bold;
}

li.check {
  padding: 1.3rem 0;
  padding-left: 2rem;
  border-top: 1px solid #ddd;
}

.check::before {
  content: "\f00c";
  font: var(--fa-font-solid);
  position: relative;
  left: -0.7rem;
  color: var(--main-color);
  font-size: 1.3rem;
}

.plan-info a {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border: 2px solid var(--main-color);
  border-radius: 9%;
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 992px) {
  .pricing-plans .plans {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .pricing-plans .plans {
    grid-template-columns: repeat(3, 1fr);
  }
  .plans .plan:nth-child(2) {
    top: -2rem;
  }
}
/* end pricing plans  */
/* start top videos  */
.top-videos .videos {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  border: 1px solid #ddd;
  justify-content: center;
}

.top-videos .videos .video-info {
  flex-basis: 100%;
}

.videos .name {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  font-weight: bold;
}

.videos .name i {
  position: absolute;
  right: 1rem;
}

.videos ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.videos ul li {
  position: relative;
  padding: 1.5rem 1.5rem 3rem;
  cursor: pointer;
}

.videos ul li:hover {
  color: var(--main-color);
  background-color: #eee;
  transition-duration: 0.5s;
}

.videos ul:not(last-child) li {
  border-bottom: 1px solid #ddd;
}

.videos span {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  color: #777;
}

.preview {
  padding: 0.5rem;
  background-color: #ddd;
}

.preview img {
  max-width: 100%;
}

.preview .info {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

@media (min-width: 1200px) {
  .top-videos .videos {
    flex-wrap: nowrap;
  }
  .top-videos .videos .video-info {
    flex-basis: 34%;
  }
}

@media (min-width: 992px) {
  .top-videos .videos {
    flex-wrap: nowrap;
  }
  .top-videos .videos .video-info {
    flex-basis: 40%;
  }
}
/* end top videos  */
/* start stats  */
.stats {
  position: relative;
  background-image: url(../images/stats.jpg);
}

.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
}

.stats .container {
  position: relative;
}

.stats h2 {
  margin: 0rem auto 4rem auto;
  text-align: center;
  font-size: 3rem;
}

.stats .cards {
  display: grid;
}

.stats .card {
  position: relative;
  flex-basis: 100%;
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.stats .card::after, 
.stats .card::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 13rem;
  background-color: var(--main-color);
  transition-property: top;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.stats .card::before {
  top: -13rem;
  right: 0;
}

.stats .card::after {
  top: 13rem;
  left: 0;
}

.stats .card:hover::after, 
.stats .card:hover::before {
  top: 0;
}

.stats .card i {
  margin-bottom: 1rem;
}

.stats .card span:nth-child(2) {
  display: block;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.stats .card span:last-child {
  font-style: italic;
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.3rem;
} 
@media (min-width: 768px) {
  .stats .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .stats .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .stats .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* end stats  */
/* start discount  */
.discount {
  display: flex;
  justify-content: space-evenly;
}

.discount h2 {
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  padding-top: 3rem;
}

.discount .content {
  width: 85%;
  margin: auto;
}

.discount .info, .discount .action {
  width: 50%;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.discount .info{
  position: relative;
  background-image: url(../images/discount-background1.jpg);
  color: white;
  text-align: center;
}

.discount .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.95;
}

.discount .info p {
  position: relative;
  padding: 1rem 1rem;
  font-size: 1.05rem;
  line-height: 1.8;
}

.discount .info .image {
  position: relative;
  width: 60%;
  margin: auto;
}

.discount .info .image img {
  max-width: 100%;
}

.discount .action {
  text-align: center;
}

.discount .action form input {
  display: block;
  margin: 1rem auto;
}

.discount .action form textarea {
  display: block;
  margin: 1rem auto;
  resize: none;
}

.discount .action input[type="submit"] {
  width: 19rem;
  margin-top: 1.3rem;
  padding: 1rem;
  border-style: none;
  background-color: var(--main-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.discount .action input:not(:last-child), .discount .action  textarea {
  width: 19rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-style: none;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 992px) {
  .discount {
    flex-wrap: wrap;
  }
  .discount .info,
  .discount .action {
    width: 100%;
    padding: 0;
  }
}
/* end discount */
/* start footer */
footer.contact {
  background-color: #222;
  color: #b9b9b9;
}

.contact .container {
  display: grid;
  grid-template-columns: 300px 300px 300px auto;
  align-items: baseline;
}

.content-01 {
  padding: 1rem;
}

.contact h2 {
  font-size: 3rem;
  color: white;
  margin: 0;
  margin-bottom: 1rem;
}

.content-01 .links {
  margin-bottom: 1rem;
}

.content-01 i {
  background-color: #444;
  margin: 0.1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  color: #b9b9b9;
}

.content-01 .links a:first-child:hover i,
.content-01 .links a:nth-child(2):hover i,
.content-01 .links a:last-child:hover i {
  transition-duration: 0.3s;
}

.content-01 .links a:first-child:hover i {
  background-color: #1877f2;
}

.content-01 .links a:nth-child(2):hover i {
  background-color: #1da1f2;
}
.content-01 .links a:last-child:hover i {
  background-color: #ff0000;
}

.content-01 p {
  line-height: 1.7;
  margin: 0;
}

ul.content-02 {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.content-02 li {
  padding: 1rem 0;
}

.content-02 li a {
  text-decoration: none;
  color: #b9b9b9;
}

.content-02 li:hover {
  padding-left: 0.7rem;
  transition-duration: 0.3s;
}

.content-02 li:not(:last-child) {
  border-bottom: 1px solid #444;
}

ul.content-02 li i {
  color: var(--main-color);
  margin-right: 1rem;
}

footer .loc-time {
  padding: 1rem;
}

.loc-time .location,
.loc-time .time,
.loc-time .phone {
  display: flex;
  line-height: 1.7;
  align-items: center;
  margin-bottom: 2rem;
}

.loc-time i {
  color: var(--main-color);
  margin-right: 1rem;
  margin-bottom: 1rem;
}

footer .images {
  width: 100%;
  align-self: center;
  margin: auto;
}

footer .images img {
  width: 87px;
  border: 0.2rem solid white;
}
.phone span {
  width: 100%;
}

@media (max-width: 768px) {
  .contact .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
  }
  .loc-time .location, .loc-time .time, .loc-time .phone {
    justify-content: center;
    flex-wrap: wrap;
  }
  .loc-time i {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .contact .container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    justify-content: center;
  }

}

@media (min-width: 992px) {
  .contact .container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .contact .container {
    grid-template-columns: 300px 300px 300px auto;
    grid-template-rows: auto;
    justify-content: center;
  }
}
.copyright {
  margin: 0;
  padding: 2rem;
  border-top: 1px solid;
  text-align: center;
  font-size: 1.4rem;
}

p.copyright i {
  color: red;
}

.copyright a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
/* end footer  */
