/* Global Variables */

*, *::after, *::before {
  box-sizing: border-box;
}

/* Components */


/* start header */
header {
  text-transform: capitalize;
}

header .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header h2 {
  color: blue;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
} 

li:not(:first-child) {
  margin-left: 1rem;
}
/* end header */
/* start landing */
.landing {
  position: relative;
  height: calc(100vh - 100px);
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.landing .container {
  position: absolute;
  top: 25%;
  text-align: center;
}

.landing h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.landing p {
  margin: auto;
  width: 70%;
  font-size: 1.2rem;
}

.landing a {
  position: relative;
  top: 90%;
  left: 50%;
  font-size: 1.5rem;
  color: blue;
}
/* end landing */
/* start article  */
.articles .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container > h3 {
  position: relative;
  width: fit-content;
  margin: 4rem auto 4rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
}

.container > h3::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 160px;
  top: 50%;
  transform: translate(0 , -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
}

.container > h3::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translate(0 , -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
}
.articles .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.articles .card {
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0px 0px 17px 3px #ddd;
}

.cards img {
  max-width: 100%;
}

.cards figcaption {
  padding: 0 1rem;
}

.cards figcaption p:first-of-type {
  color: #777;
}

.cards figcaption p:last-of-type {
  position: relative;
  color: blue;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
}

.cards figcaption p:last-of-type a {
  color: blue;
  position: absolute;
  transform: translateY(13%);
  right: 21px;
}
/* end article  */